.error-fallback {
  text-align: center;
  margin-top: 50px;

  h1 {
    font-size: 2rem;
    color: #d9534f;
  }

  p {
    margin: 10px 0;
    font-size: 1.2rem;
  }

  button {
    background-color: #f0ad4e;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: #ec971f;
    }
  }
}
